.Rproj.user
.Rhistory
.RData
.Ruserdata
output/*.rds
data/*.rds
data/*.xls
data/*.grd
data/*.gri
data/*.vrt
vignettes/*.html
vignettes/*.docx
.dropbox
jonas
data_saves/*.rds
data_saves/derived_data/*.rds
references/*.pdf
templates/*.pdf
templates/*.doc
templates/*.docx
templates/models/*.pdf
templates/models/*.doc
templates/models/*.docx

